auto lo
iface lo inet loopback

iface {{ proxmox_interfaces_wan }} inet manual

{% if proxmox_interfaces_lan is defined %}
iface {{ proxmox_interfaces_lan }} inet manual
{% endif %}

auto vmbr0
iface vmbr0 inet dhcp
    bridge_ports {{ proxmox_interfaces_wan }}
    bridge_stp off
    bridge_fd 0
# WAN

auto vmbr1
iface vmbr1 inet manual
{% if proxmox_interfaces_lan is defined %}
    bridge_ports {{ proxmox_interfaces_lan }}
{% else %}
    bridge_ports none
{% endif %}
    bridge_stp off
    bridge_fd 0
# LAN

auto vmbr2
iface vmbr2 inet manual
    bridge_ports none
    bridge_stp off
    bridge_fd 0
# DMZ

auto vmbr3
iface vmbr3 inet manual
    bridge_ports none
    bridge_stp off
    bridge_fd 0
#SUP
